html {
  box-sizing: border-box;
}

* {
	padding: 0;
	margin: 0;
}

img {
	width: 100%;
	/* We want the width to be 100% of the element its inside */
	margin: 0 auto;
	/*We set margin 0 auto on it, to always center it*/
	object-fit: cover;

	
}

body {
  width: 100%; 
  left: 0;
  font-size: 62.5;
  background-color: #E8E8E8;
}

a,
a:hover {
	text-decoration: none;
}



p {
	font-family: 'Lato', 'sans-serif';
	font-size: 1.5em;
	font-weight: 100;
	margin-left: 20%;
}

.wrapper,
.wrapper img {
	height: 800px;
}

.wrapper {
	margin-bottom: 80px;
}

section {
	width: 50%;
	height: 100%;
}

.glyphicon-home {
	margin: 25px;
	font-size: 27px;
	color: #999999;
	padding: 5px;
}

.glyphicon-home:hover {
	border: solid 0.5px #f2f2f2;
	background-color: #f2f2f2;
}

.email {
	margin-top: 5%;
}

.container {
}

.container h1 {
	margin-top: 15%;
	color: #ff0000;
}

.title {
	font-family: 'Lato','sans-serif';
	font-weight: 900;
	margin-left: 20%;
	margin-top: 0;
}

h2.title{
	font-size: 3.6em;
}

/* ------ Section 2 with floats ---- */


.section_1 .glyphicon-home {
	margin-top: 35px;
	padding: 15px;
}

.section_1{
	width: 50%;
	height: 100%;
	float: left;
	border-right: solid 1px #D0D0D0;
	border-bottom: solid 1px #D0D0D0;
	border-right: solid 1px #D0D0D0;
}

.section_2 {
	width: 50%;
	height: 100%;
	float: right;
	border-right: solid 1px #D0D0D0;
	border-bottom: solid 1px #D0D0D0;
	border-right: solid 1px #D0D0D0;
}

.about_me {
	padding-top: 9%;
	padding-right: 8%;
	padding-left: 8%;
}

.about_me h1 {
	font-family: 'Muli', sans-serif;	
	font-size: 2.5em;
	font-weight: bold;
	color: #ff0000;
	margin-left: 12%;
	margin-bottom: 30px;
}

.about_me p {
	font-size: 1.3em;
	margin-left: 15%;
	padding-right: 50px;
	float: right;

}

.link_to {
	padding: 37%;
}

.link_to h3 {
	font-family: 'Muli', sans-serif;
	font-size: 1.6em;
	font-weight: 400;
	color: #ff0000;
}

.link_to a {
	color: #ff0000;
}

.link_to a:hover {
	color: #990000;
	text-decoration:none;
}








