html {
  box-sizing: border-box;
}

* {
	padding: 0;
	margin: 0;
}

img {
	width: 100%;
	/* We want the width to be 100% of the element its inside */
	margin: 0 auto;
	/*We set margin 0 auto on it, to always center it*/
	object-fit: cover;
}

body {
  width: 100%; 
  font-size: 62.5;
}

strong {
	font-weight: 400;
}

a,
a:hover {
	text-decoration: none;
}

p {
	font-family:'Muli', sans-serif;
	font-size: 1.0em;
	line-height: 24px;
}

div .row {
	margin-bottom: 50px;
}

.jumbotron {
	margin-bottom: 100px;
	display: inline-flex;
}

.jumbotron h1 {
	margin-left: 90px;
	color: #ff3333;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}

.jumbotron h1:hover {
	color: red;
}

.jumbotron p {
	font-size: .9em;
	letter-spacing: 1px;
	margin-left: 100px;
	margin-bottom: 0;
	padding-top: 10px;
}

.glyphicon-home:hover {
	background-color: white;
}

h2 {
	padding: 5px;
	font-family: 'Montserrat', sans-serif;
	border-bottom: solid 1px #ff3333;
	width: 200px;
}

ul,
ol {
	border-bottom: solid 0.5px #f2f2f2;
	border-right: solid 0.5px #f2f2f2;
	box-shadow: 2px 2px #f2f2f2;
}

.education li {
	display: inline-flex;
	padding: 40px;
	padding-left: 90px;
}

.work ol
.skills ul {
	padding: 40px;
}

.work,
.skills li {
	padding-bottom: 20px;
}

/* ---- Social Icons --- */
.icons {
	width: 19.5%;
	margin-left:40.25%;
	display: inline-flex;
	padding-bottom: 60px;
}

.icon a {
	text-decoration: none;
}

.fa-envelope-o:hover,
.fa-instagram:hover,
.fa-github:hover,
.fa-facebook:hover {
	color: black;
}

.fa-envelope-o,
.fa-instagram,
.fa-github,
.fa-facebook {
	color: #8c8c8c;
	padding: 20px;

}