html {
  box-sizing: border-box;
}

* {
	padding: 0;
	margin: 0;
}

img {
	width: 100%;
	/* We want the width to be 100% of the element its inside */
	margin: 0 auto;
	/*We set margin 0 auto on it, to always center it*/
	object-fit: cover;
}

body {
  width: 100%; 
  left: 0;
  font-size: 62.5;
  background-color: #E8E8E8;
}


p {
	font-family: 'Muli', sans-serif;
	color: #f2f2f2;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	color: #f2f2f2;	
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

#wrapper {
	width: 100%;
	height: 800px;
}

 /* ---------- index-top-bar ------ */

.icons {
	position: absolute;
	display: inline-flex;
	margin-left: 42%;
	margin-top: 2%;
	z-index: 5;
}

.fa-envelope-o,
.fa-instagram,
.fa-github,
.fa-facebook {
	color: #D0D0D0;
	padding: 20px;
}

.fa-envelope-o:hover,
.fa-instagram:hover,
.fa-github:hover,
.fa-facebook:hover {
	color: white;
}

/*------- index-body ---- */
.background-image {
	width: 100%;
	z-index: 1;
	min-height: 900px;
}

.background-image img {
	width: 100%;
	height: 100%;
	position: absolute;
	-webkit-filter: blur(1px);
	z-index: -3;
}

.overlay {
	z-index: 3;
	background: rgba(0, 0, 0, 0.6);
}

#index-body {
	width: 100%;
	top: 50%;
	position: absolute;
	z-index: 2;
}

h1.title {
	font-size: 4.0em;
	text-align: center;
}

#index-body a {
	color: #ff3333;
	font-style: italic;
}

#index-body p:last-of-type {
	margin-top: 25px;
	padding: 0;
	font-size: 1.3em;
	font-weight: 100;
	z-index: 4;
}

.link-1 p {
	text-align: right;	
}

.link-2 p {
	text-align: left;
}

#index-body a:hover, #index-body span:hover {
	text-decoration: none;
	font-style: none;
}

/* ---------- index-footer --------- */
#index-footer {
	position: absolute;
	height: 0px;
	bottom: 0;
	z-index: 2;
	width: 100%;
	padding: 0;
}

#index-footer p{
	font-size: 1.1em;
	font-style: italic;
	margin-left: 42%;
	color: #D0D0D0;
}

#index-footer a {
	color: #D0D0D0;	
}

/* ------ media queries ------- */
@media screen and (max-width: 375px) { /* galaxy */
	    h1.title {
    	position: absolute;
    	bottom: 210px;
    	margin-left: 50px !important;
    	font-size: 1.5em;
    }
}

@media screen and (max-width: 450px) {
		body, .background-image, #wrapper{
			min-height: 740px; 
			max-height: 440px;
			overflow: hidden; 
			overflow-y: scroll;
		}

    .icons {
      margin: 0;
      max-width: 100%;
      padding-top: 35px;
      overflow: hidden;
    }

    .icons:first-child {
    	margin-left: 22%;
    }

    .link-1 p, .link-2 p {
    	margin: 0 !important;
    	padding: 0;
    	padding-top: 0 !important;
    	text-align: center !important;
    	padding-bottom: 20px !important;
    	max-width: 100%;
    	overflow: hidden;
    	font-size: 1em;
    }

   	.row {
   		max-width: 100%;
   		margin: 0 !important;
   		/*overflow: hidden;*/
   	}


    #index-body span {
    	font-size: 1.2em;
    }

    h1.title {
    	position: absolute;
    	/*margin: 0 !important;*/
    	bottom: 210px;
    	font-size: 2.5em;
    }

    h1.title:hover {
    	font-style: italic;
    }

    #index-footer p {
    	display: none;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
	body, .background-image, #wrapper{
			min-height: 1024px; 
			max-height: 1024px;
			overflow: hidden; 
	}

	.icons {
		margin-left: 36%;
		padding-top: 45px;
	}

	#index-footer p {
  	display: none;
  }	

 	h1.title {
		position: absolute;
		/*margin: 0 !important;*/
		margin-left: 35%;
		font-size: 1.5em;
  }
} 





