.index {
  &-body h1 {
    @include text($white, 3px);
    @include font-size(110px);
    margin: 0;
    font-family: $limelight;
    padding: 13% 15% 0 15%;
  }

  &-body .top-nav h2 {
    @include text($concrete, 1.7px);
    @include font-size(33px);
    font-family: $main;
    padding: 30px 20px;
    font-weight: 700;
    @extend %pointer;
  }

  &-body h3 {
    @include text($concrete, 1.5px);
    @include font-size(35px);
    font-family: $main;
    font-style: italic;
    padding: 30px 15%;
  }

  &-body .about-button h4 {
    @include text($white, 1.5px);
    @include font-size(30px);
    @extend %centered;
    @extend %absolute;
    font-family: $main;
    border: 1px solid $color-pop;
    padding: 15px;
    background-color: $color-pop;
    width: 140px;
  }

  @media #{$break-narrow} {
    padding-top: 35%;;
    text-align: center;
  }
}

.profile {
  &-body h2 {
    @include text($color-pop, 1.7px);
    @include font-size(60px);
    font-family: $limelight;
  }
  &-body p {
    @include text($color-prim-dark, 1px);
    @include font-size(25px);
    font-family: $main;
    line-height: 25px;
    font-weight: 700;
    padding: 0 20px;
  }
}






